[user]
	name = Dreaded_X
	email = tim@huizinga.dev
	signingkey = CD17A34CBFB21DE9A73D47EB76BDEC4E165D8AD9

[push]
	default = simple

[core]
	excludesfile = $HOME/.dotfiles/git/gitignore

[color]
	ui = true

[credential]
	helper = store
[pull]
	; If we pull we only want to fast forward, if that is not possible we should not allow pull to work
	; Instead use fetch and then either rebase or merge
	ff = only
	; rebase = false
[init]
	defaultBranch = master
[filter "kicad_project"]
	clean = sed -E 's/^update=.*$/update=Date/'
	smudge = cat
[filter "kicad_sch"]
	clean = "sed -E 's/#(PWR|FLG)[0-9]+/#\\1?/'"
	smudge = cat
[commit]
	gpgsign = true

[includeIf "gitdir:~/Projects/ALTEN/"]
	path = ~/.dotfiles/git/alten.gitconfig
